[submodule "teambot"]
	path = teambot
	url = git://github.com/tkt-hon/teambot.git
[submodule "lib/rune_controlling"]
	path = lib/rune_controlling
	url = git://github.com/tkt-hon/rune_controlling.git
[submodule "lib/metadata_manager"]
	path = lib/metadata_manager
	url = git://github.com/tkt-hon/metadata_manager.git
[submodule "libhon"]
	path = libhon
	url = git://github.com/dezgeg/libhon.git
